#coursesIndex {
    .img-wrapper {
        position: relative;
        overflow: hidden;
        .favorites {
            position: absolute;
            top: 3px;
            right: 7px;
        }
    }
    .edit-course-link {
        background: #00bfff;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        display: block;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    #coursesIndex .img-wrapper {
        max-height: 156px;
    }
}
@media only screen and (min-width: 1200px) {
    #coursesIndex .img-wrapper {
        max-height: 190px;
    }
}
